:root {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #ffffff;
    background-color: #1E1E1E;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// SMALL RESET CSS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    display: block;
    color: #ffffff;
    width: fit-content;
}

.buttonCTA {
    border: none;
    width: fit-content;
    padding: 1em;
    background-color: #F57E26;
}